*

!**/
!.gitignore
!Makefile

!srcs
!includes
!playground
!libs
!*.c
!*.h
!srcs/parser/*.bnf
!playground/*.md

/objs/
/libs/objs/
/testdir/
#/playground/
/.idea/
#cmake-build-*
#cmake-build-debug/*
#cmake-build-debug/**
/cmake-build-debug/